.background-theme-color-blue{
    background-color: #0648b3
}

.text-theme-color{
    color: #0648b3
}

.oraginaztion-container{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.oraginaztion-logo-image{
    width: 120px;
    height: 120px;
}

.tool_section_container{
    margin-top: 100px;
    margin-bottom: 100px;
}

.tool-section-nav-item-spacing{
    margin-left: 20px;
    margin-right: 20px;
}

.tool-section-nav-item-style{
    color: black;
}

.tool-section-nav-item-link-style{
    text-decoration: none;
}

.faster-growth-logos-style{
    font-size: 30px;
}

.faster-growth-section-bg{
    background-color: #f4f6fc;
}

.faster-growth-section-container{
    padding: 100px;
}

.impact-information-section-container{
    padding: 100px 0px;
}

.impact-information-section-link{
    color: white;
    text-decoration: none;
}

.marketing-and-seo-section-person-avartar{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.marketing-and-seo-section-person-comment-triangle{
    color: #b6b6b6;
    font-size: 20px;
}
.marketing-and-seo-section-person-comment{
    background-color: #f4f6fc;
}