.background-theme-color-blue{
    background-color: #0648b3
}

.text-theme-color{
    color: #0648b3
}

.oraginaztion-container{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.oraginaztion-logo-image{
    width: 120px;
    height: 120px;
}

.tool_section_container{
    margin-top: 100px;
    margin-bottom: 100px;
}

.tool-section-nav-item-spacing{
    margin-left: 20px;
    margin-right: 20px;
}

.tool-section-nav-item-style{
    color: black;
}

.tool-section-nav-item-link-style{
    text-decoration: none;
}